/* Styles go here */
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:400,500,700,800&display=swap');

body {
/*---Fonts---*/
	font-family: 'Be Vietnam', sans-serif;
	font-size: 64px;		
/*---MDC Theme Colors---*/
	--mdc-theme-primary: #F2C879;
	--mdc-theme-secondary: #F2785C;
	--mdc-theme-background: #FFFFFF;
	--mdc-theme-surface: #3C3C3C;
	--mdc-theme-on-primary: #000000;
	--mdc-theme-on-secondary: #000000;
	--mdc-theme-on-surface: #FFFFFF;
	
	margin: 0px;
}

.mdc-theme--primary{
	--mdc-theme-primary: #F2C879;
}

.mdc-theme--secondary{
	--mdc-theme-secondary: #F2785C;
}

.mdc-theme--background{
	--mdc-theme-background: #FFFFFF;
}

.mdc-theme--surface{
	--mdc-theme-surface: #3C3C3C;
}

.mdc-theme--on-primary{
	--mdc-theme-on-primary: #000000;
}

.mdc-theme--on-secondary{
	--mdc-theme-on-secondary: #000000;
}

.mdc-theme--on-surface{
	--mdc-theme-on-surface: #FFFFFF;
}

.mdc-theme--primary-bg{
	--mdc-theme-primary: #F2C879;
	}

.mdc-theme--secondary-bg{
	--mdc-theme-primary: #F2785C;
	}
/*mdc-theme--text-<TEXT_STYLE>-on-light	
mdc-theme--text-<TEXT_STYLE>-on-dark
*/

/*---Elements---*/
.hero {
	background-color: #3C3C3C;
	height: 8em;
/*	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
}

.hero-logo {
	background-color: #3C3C3C;
	height: 4em;
	width: 4em;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tab-bar-menu{

}

.mdc-tab-bar {

}

.fab-custom {
  position: absolute;
  height: 10em;
  width: 10em;
  bottom: 10em;
  right: 10em;
/*  --mdc-fab-icon-size($8em, $8em)	*/
}

.main-bg {
	background-color: #3C3C3C;
	height: 11em;
}

h1{
  position: relative;
  top: 1em;
  left: 1em;
  width: 664px;
}

p{
  position: relative;
  left: 3em;
  width: 664px;
}

.elevation-rect {
	background-color: #FFFFFF;
	height: 2em;
	width: 10em;
	position: relative;
	top: 1em;
	padding: 0;
}

.inner-grid-mod{
	height: 128px;
}

.grid-cell-mod {
	transform: translate(0,-25%);
}

.bold-button {
    font-family: Be Vietnam, sans-serif;
    font-weight: bolder;
    text-transform: lowercase;
    display: inherit;
    position: relative;
    height: 8em;
    width: 8em;
    margin: auto;
}

.rect-1 {
	background-color: #F2C879;
    height: 96px;
    width: 96px;
    display: inherit;
    margin: auto;
}

.rect-2 {
	background-color: #F2785C;
    height: 96px;
    width: 96px;
    display: inherit;
    margin: auto;
    top: -25%;
}

.rect-3 {
	background-color: #D94848;
    height: 96px;
    width: 96px;
    display: inherit;
    margin: auto;
}
